<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast">
    <div class="toast-header">
      <strong class="me-auto">Server Alert</strong>
      <small class="text-muted">just now</small>
    </div>
    <div>
        <p style="color:black;padding-left:5px;" id="inner_toast"></p>
    </div>
  </div>
</div>