<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bs/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/bs/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bs-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/quill/dist/quill.core.css">
    <link rel="stylesheet" href="/quill/dist/quill.bubble.css">
    <link rel="stylesheet" href="/quill/dist/quill.snow.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/chartjs/dist/chart.js"></script>
    <script src="/jq/dist/jquery.js"></script>
    <script src="/quill/dist/quill.core.js"></script>
    <script src="/quill/dist/quill.js"></script>
    <script src="/quill/dist/quill.min.js"></script>
    <script defer src="https://socket.cincitechlabs.com/socket.io/socket.io.js"></script>
    {{!-- <script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script> --}}
    
    <title>Rectifyd Ticketing</title>
</head>
<body class="Dark">
    {{{body}}}
    <div class="spinner-wrapper">
        <div class="b-spinner">
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
<script src="/bs/dist/js/bootstrap.bundle.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/date.js"></script>
<script defer src="/js/socket.js"></script>
</body>
</html>