<div class="container" style="background-color: rgba(51, 51, 51, 0.733);max-width:400px;border-radius: 1em;padding:15px 15px;margin-top:2em">
    <h1 style="margin-top: .5em;text-align:center;margin-bottom:1em;">Forgot Password?</h1>
    {{#if msg}}
        <div class="alert alert-success" role="alert">
            {{msg}}
        </div>
    {{/if}}
        <form method="POST" action="/passwordReset/emailacct">
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="name@email.com" required>
            </div>
            <div class="col-12" style="display: flex; justify-content:space-around">
                <button type="submit" class="btn btn-primary">Send Reset Link</button>
            </div>
        </form>
        <a href="/login"><button style="margin-top: 2em;" class="btn btn-secondary">Back</button></a>
</div>