<div class="createForm">
    
        <h3>Password Reset</h3>
        <form action="/Password/Reset/verify{{passResetToken}}" method="post">
            
            
            
            <label for="password">Update Password</label>
            <input type="password" name="password" id="password" required>

            

            <button type="submit" class="btn btn-primary" style="margin-top: 5px;">Save</button>
        </form>
    
</div>