<div class="contentWrapper">
    <h1 style="color: hsl(120, 98%, 36%);">{{var}} Created</h1>
    <button class="btn btn-primary" onclick="window.close()">Close</button>
</div>
<style>
    .contentWrapper {
        margin: 8em auto;
        text-align: center;
    }
</style>