{{>nav}}
<div class="createForm">
        <h3>Update Password</h3>
        <form action="/changePassword{{myResource.resource_id}}" method="post">
            <p>Email: {{myResource.email}}</p>
            <br>
            <label for="password">Update Password</label>
            <input type="password" name="password" id="password" required>
            <button type="submit" class="btn btn-primary" style="margin-top: 5px;">Save</button>
        </form>  
</div>